.scroll-nav {
    .nav-bar {
        margin: 0;
        padding: 0;
        line-height: 3.1;
        vertical-align:middle;
        border-radius: 5px;
        box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.02);
        background: #ffffff;
        &:after {
            display: inline-block;
            content: '';
            height: 100%;
            width: 0;
            vertical-align: middle;
        }
        li {
            display: inline-block;
            padding: 0 16px;
            cursor: pointer;
            &.is-active {
                color: #387af6;
                border-bottom: 2px solid #387af6;
            }
        }

        &.is-fixed {
            position: fixed;
            width: calc(100vw - 432px);
            z-index: 99999;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}