.scroll-nav {
    .nav-bar {
        margin: 0;
        padding: 0;
        line-height: 3.5;
        font-size: 14px;
        vertical-align:middle;
        border-radius: 5px;
        box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.02);
        background: #ffffff;
        &:after {
            display: inline-block;
            content: '';
            height: 100%;
            width: 0;
            vertical-align: middle;
        }
        li {
            display: inline-block;
            padding: 0 16px;
            cursor: pointer;
            border-bottom-style: solid;
            border-bottom-width: 2px;
        }

        &.is-fixed {
            position: fixed;
            z-index: 99999;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}